.sem-parent{
    background-color: antiquewhite;
    padding: 14px 28px;
    border-radius: 16px;
    width: 250px;
    margin:15px;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sem-title{
    font-size: 24px;
    font-weight: 400;
    margin: 5px 0px;
}

.sem-content{
    display: flex;
    justify-content: space-between;

    
}

.sem-perc{
    font-size: 36px;
}



.sem-sub-list{
    margin: 0;
    padding: 5px;
    list-style: none;
    font-size: 18px;
}


.list-group{
    border-radius: 16px;
}

.list-group-item{
    padding: 8px 16px;
    text-align: center;
}